@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
  }

:root {
    --primary: #2a2d30;
    --accent: #24875F;
  }

body {
    color: white;
    font-family: 'Sen', sans-serif;
    background-color: var(--primary);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px;
    background-color: #24875F;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 250ms;
}

nav:hover {
    background-color: #47af85;
}

.iconm {
    width: 1rem;
    border-radius: 2px;
    margin-right: 10px;
}

.container {
    margin: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.points {
    background-color: #393b3d;
    padding: 10px;
    border-radius: 5px;
    text-align:justify;
}

.points > img {
    width: 100%;
    border-radius: 5px;
}